<footer class="footer">
  <p>Working Draft ist ein wöchentlicher News-Podcast für Webdesigner und -entwickler gehostet von und mit:</p>

  <ul class="footer__authors">
    <li>
      <a href="http://twitter.com/derSchepp">
        <img src="src/img/team/user.jpg" alt="Christian Schaefer"> Christian Schaefer
      </a>
    </li>
    <li>
      <a href="http://twitter.com/sir_pepe">
        <img src="src/img/team/user.jpg" alt="Peter Kröner"> Peter Kröner
      </a>
    </li>
    <li>
      <a href="https://twitter.com/drublic">
        <img src="src/img/team/hans.jpg" alt="Hans Christian Reinl"> Hans Christian Reinl
      </a>
    </li>
    <li>
      <a href="https://twitter.com/ddprrt">
        <img src="src/img/team/user.jpg" alt="Stefan Baumgartner"> Stefan Baumgartner
      </a>
    </li>
    <li>
      <a href="https://twitter.com/helloanselm">
        <img src="src/img/team/anselm.jpg" alt="Anselm Hannemann"> Anselm Hannemann
      </a>
    </li>
    <li>
      <a href="https://twitter.com/rodneyrehm">
        <img src="src/img/team/rodneyrehm.jpg" alt="Rodney Rehm"> Rodney Rehm
      </a>
    </li>
  </ul>

  <p class="footer__authors__other">
    und
    <a href="https://twitter.com/hellokahlil">Kahlil Lechelt</a>
    &amp;
    <a href="https://twitter.com/markus_schlegel">Markus Schlegel</a>.
  </p>

  <p class="footer__follow">
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered"
      title="Twitter Follow Button" src="http://platform.twitter.com/widgets/follow_button.5069e7f3e4e64c1f4fb5d33d0b653ff6.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=workingdraft&amp;show_count=false&amp;show_screen_name=true&amp;size=l&amp;time=1512423728702"
      style="position: static; visibility: visible; width: 171px; height: 28px;" data-screen-name="workingdraft"></iframe>
  </p>

  <nav class="footer__navigation">
    <ul>
      <li>
        <a href="#">Archiv</a>
      </li>
      <li>
        <a href="#">Impressum</a>
      </li>
      <li>
        <a href="#">Kontakt</a>
      </li>
    </ul>
  </nav>
</footer>
