<header class="header">
  <a href="#" class="header_logo">
    <svg
      viewBox="0 0 450 450"
      class="header_logo_icon">

      <rect x="198" y="110" fill="#8F098F" width="54" height="145" />
      <circle fill="#8F098F" cx="225" cy="300" r="31" />
      <circle fill="none" stroke="#8F098F" stroke-width="38" cx="225" cy="225" r="185" />
    </svg>

    <span class="header_logo_name">
      Working Draft
    </span>
  </a>
</header>

<nav class="navigation">
  <ul class="navigation_list">
    <li class="navigation_list_item">
      <a href="#" class="navigation_list_item_link">Archive</a>
    </li>
    <li class="navigation_list_item">
      <a href="#" class="navigation_list_item_link">Über uns</a>
    </li>
    <li class="navigation_list_item">
      <a href="#" class="navigation_list_item_link">Kontakt</a>
    </li>
  </ul>
</nav>
