<header class="header">
  <a href="#" class="header_logo">
    <img src="/resources/logo.png" alt="" class="header_logo_name" />
  </a>
</header>

<nav class="navigation">
  <ul class="navigation_list">
    <li class="navigation_list_item">
      <a href="#" class="navigation_list_item_link">Archive</a>
    </li>

    <li class="navigation_list_item">
      <a href="#" class="navigation_list_item_link">RSS-Feed</a>
    </li>

    <li class="navigation_list_item">
      <a href="#" class="navigation_list_item_link">iTunes-Feed</a>
    </li>

    <li class="navigation_list_item">
      <a href="#" class="navigation_list_item_link">Twitter</a>
    </li>

    <li class="navigation_list_item">
      <a href="#" class="navigation_list_item_link">Kommentarfeed</a>
    </li>
  </ul>
</nav>
