<div class="card card--highlight">
  <h2 class="text text_type-2 card_title">
    Spenden für Soundqualität!
  </h2>

  <p class="text text_type-3">
    Unsere Aufnahmen werden optimiert mit
    <a href="https://auphonic.com/donate_credits?user=Schepp">Auphonic</a>. Flattern oder direkt bei
    <a href="https://auphonic.com/donate_credits?user=Schepp">Auphonic spenden</a>.
  </p>

  <div class="card_action">
    <button class="button button--primary">Jetzt spenden</button>
  </div>
</div>

<div class="card card--flex">
  <p class="text text_type-3">
    Diese Webseite verwendet Cookies, um bestimmte Funktionen zu ermöglichen und das Angebot zu verbessern. Indem Sie hier fortfahren,
    stimmen Sie der Nutzung von Cookies zu.
    <a href="#">Mehr Informationen</a>.
  </p>

  <div>
    <button class="button">Akzeptieren</button>
  </div>
</div>

{{> revision
  title="Revision 322: Colloq"
  description="Linz, München, Köln, Lissabon, Hongkong. Der wohl verteilteste Working Draft bis heute dreht sich um Dinge die entstehen,
  wenn man gemeinsam an einem Ort ist. So haben Holger Bartel, Tobias Tom und unser hauseigener Anselm eines schönen Tages
  in Düsseldorf beschlossen, die Event Plattform Colloq ins Leben zu rufen. Wir lauschen der Motivation und lernen aus den
  Erfahrungen."
  isLatest=true
}}

<div class="card card--highlight">
  <h2 class="text text_type-2 card_title">
    Sponsoren gesucht!
  </h2>

  <p class="text text_type-3">
    Als Podcast versuchen wir die Qualität der Aufnahmen hoch zu halten. Dafür verwenden wir Tools, die nicht kostenlos sind.
    Auch unser Aufnahme-Equipment kostet Geld. Mit rund 15.000 Downloads pro Folge im Schnitt haben wir Herausforderungen
    im Hosting zu bewältigen, vor allem der Traffic ist recht hoch. Um diese Kosten decken zu können, suchen wir Sponsoren.
    Wenn ihr unseren Podcast gut findest, sprecht mit euren Chefs. Bei Interesse, kontaktiert uns per E-Mail: sponsoring@workingdraft.de.
  </p>

  <div class="card_action">
    <button class="button button--primary">Jetzt spenden</button>
  </div>
</div>

{{> revision
  title="Revision 322: Colloq"
  description="Linz, München, Köln, Lissabon, Hongkong. Der wohl verteilteste Working Draft bis heute dreht sich um Dinge die entstehen,
  wenn man gemeinsam an einem Ort ist. So haben Holger Bartel, Tobias Tom und unser hauseigener Anselm eines schönen Tages
  in Düsseldorf beschlossen, die Event Plattform Colloq ins Leben zu rufen. Wir lauschen der Motivation und lernen aus den
  Erfahrungen."
  isLatest=false
}}

{{> revision
  title="Revision 320: API- und Load-Testing in der Cloud"
  description="Dieses mal hatten wir Lars Wolff von Stormforger zu Gast. Stormforger ist ein API- und Load-Testing-Tool, das uns auffiel,
    weil sich die Testszenarien per JavaScript beschreiben lassen. Darüber wollten wir mehr wissen…"
  isLatest=false
}}


<script src="/index.js"></script>
