@import url("variables.css");

.navigation {

  float: right;
}

.navigation_list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  padding-right: 3rem;
  margin: 0;
}

.navigation_list_item_link,
.navigation_list_item_link:visited {
  color: var(--color--base);
}

.navigation_list_item_link {
  display: block;
  text-decoration: none;
  padding: 1.25em 1em;
}

